{% extends "main.html" %}
        {% block maincontent %}
        <div>
            <script src="/static/lib/js/jquery-1.11.1.min.js"></script>
            <script src="/static/lib/js/angular.js"></script>
            <script src="/static/lib/js/angular-ui-router.min.js"></script>
            <script src="/static/lib/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
            <script src="/static/lib/js/angular-route.js"></script>
            <script src="/static/lib/js/angular-resource.js"></script>
            <script src="/static/app/bills/bills.js"></script>
            <script src="/static/app/bills/services.js"></script>
            <script src="/static/app/bills/controllers.js"></script>
            <script src="/static/app/myDatepicker/datepicker.js"></script>
            <div ng-app="billApp">
                <p>
                    <a href="#/bills" class="btn btn-primary">Bill List</a>
                    <a href="#/bill-add" class="btn btn-primary">Add Bill</a>
                    <a href="#/bills-register" class="btn btn-primary">Budget</a>
                </p>
                <div ng-view=""></div>
            </div>
        </div>
        {% endblock %}