{% extends "main.html" %}
        {% block maincontent %}
        <h1>Recover Password</h1>
        <p>Forgot your password? Click the link below to receive a link to recover your password.</p>

        {% if not_found %}
            <strong>Not found!</strong> We could not find any user with the given username.
        {% endif %}

        <form class="form" action="/forgot" method="POST">
            <input type="text" value="{{username}}" name="username" />
            <input type="submit" value="Send password reset link" />
        </form>
        {% endblock %}