<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial_scale=1">
        <title>{% block title %}Budgit Money{% endblock %}</title>
        <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
        <style>
            input {
                display: block;
            }

            .error {
                color: red;
            }
            body {
                padding-top: 60px;
            }
            @media (max-width: 979px) {
                body {
                    padding-top: 60px;
              }
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">Budgit Money</div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if not user %}
                            <li><a href="/login">Login</a></li>
                        {% else %}
                            <li><a>Logged in as {{ user.name }}</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {% endif %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/signup">New User</a></li>
                        <li><a href="/bills">Bills</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                {% block maincontent %}

                {% endblock %}
            </div>
        </div>


    <script src="/static/lib/js/jquery-1.11.1.min.js"></script>
    <script src="/static/lib/js/bootstrap.min.js"></script>
    </body>
</html>