{% extends "main.html" %}
        {% block maincontent %}
        <h1>Reset Password</h1>

        <form action="/password" method="post">
            <label>Select password</label>
            <input type="password" name="password" />
            <input type="password" name="confirm_password" />
            <input type="hidden" name="t" value="{{ token }}" />
            <input type="submit" value="Update password" />
        </form>
        {% endblock %}