{% extends 'main.html' %}
{% block title %}Register a new user{% endblock %}
{% block maincontent %}
        <h1>Register a new user</h1>
        <form name="signup" class="form-signin" role="form" action="/signup" method="POST">
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter a username" value="{{username}}">
                <span class="error">{{error_username}}</span>
            </div>

            <div class="form-group">
                <label class="sr-only" for="email">Email Address</label>
                <input type="text" name="email" class="form-control" placeholder="Valid email address" value="{{email}}"/>
                <span class="error">{{error_email}}</span>
            </div>

            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="password"/>
                <span class="error">{{error_password}}</span>
            </div>

            <div class="form-group">
                <label class="sr-only" for="verify">Verify Password</label>
                <input type="password" name="verify" class="form-control" placeholder="repeat password" />
                <span class="error">{{error_verify}}</span>
            </div>

            <div class="form-group">
                <label class="sr-only" for="name">First Name</label>
                <input type="text" name="name" class="form-control" placeholder="First Name"/>
                <span class="error">{{error_name}}</span>
            </div>

            <div class="form-group">
                <label class="sr-only" for="lastname">Last Name</label>
                <input type="text" name="lastname" class="form-control" placeholder="Last Name" />
                <span class="error">{{error_lastname}}</span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create user"/>
            </div>
        </form>
{% endblock %}