<table class="table table-hover">
    <thead>
        <tr>
            <th>Next Due Date</th>
            <th>Description</th>
            <th>Status</th>
            <th>Freq Factor</th>
            <th>Frequency</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Credit</th>
        </tr>
    </thead>
    <tbody>
        <!-- first row can be for add or edit
            create a new scope variable to store a single bill
            send http request depending on add or edit
            either way, clear single bill scope variable when done -->
        <tr></tr>
        <tr ng-repeat="bill in bills">
            <td>
                <span ng-if="bill.edit != true">{{ bill.nextDueDate | date: 'MM-dd' }}</span>
                <span ng-if="bill.edit == true">
                    <date-pick ng-model="bill.nextDueDate" date-options="" opened="next"></date-pick>
                </span>
            </td>

            <td>
                <span ng-if="bill.edit != true">{{ bill.description }}</span>
                <span ng-if="bill.edit == true">
                    <input type="text" name="description" class="form-control"
                           ng-model="bill.description" required>
                </span>
            </td>

            <td>
                <span ng-if="bill.edit != true">{{ bill.status }}</span>
                <span ng-if="bill.edit == true">
                    <input type="text" name="status" class="form-control"
                           ng-model="bill.status" required>
                </span>
            </td>

            <td>        <!-- TODO: test for zero condition on budgets page -->
                <span ng-if="bill.edit != true">{{ bill.frequencyFactor }}</span>
                <span ng-if="bill.edit == true">
                    <input type="number" name="frequency_factor" class="form-control"
                           ng-model="bill.frequencyFactor" required>
                </span>
            </td>

            <td>
                <span ng-if="bill.edit != true">{{ bill.frequency }}</span>
                <span ng-if="bill.edit == true">
                    <select ng-options="obj.value as obj.text for obj in frequencies"
                            class="form-control" name="frequency"
                            ng-model="bill.frequency" required></select>
                </span>
            </td>

            <td>
                <span ng-if="bill.edit != true">{{ bill.lastDueDate | date: 'MM-dd' }}</span>
                <span ng-if="bill.edit == true">
                    <date-pick ng-model="bill.lastDueDate" date-options="" opened="last"></date-pick>
                </span>
            </td>

            <td>
                <span ng-if="bill.edit != true">{{ bill.amount }}</span>
                <span ng-if="bill.edit == true">
                    <input type="number" name="amount" class="form-control"
                           ng-model="bill.amount" required>
                </span>
            </td>

            <td>
                <span ng-if="bill.edit != true">{{ bill.credit }}</span>
                <span ng-if="bill.edit == true">
                    <input type="checkbox" name="credit" class="form-control"
                           ng-model="bill.credit">
                </span>
            </td>

            <td>
                <button ng-if="bill.edit != true" ng-click="editBill(bill)"
                        class="btn btn-primary btn-xs">Edit</button>
                <button ng-if="bill.edit == true" ng-click="saveBill(bill)"
                        class="btn btn-primary btn-xs">Save</button>
                <button ng-click="deleteBill(bill)" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>