<form name="enterStarting" class="form-horizontal" novalidate role="form"
      ng-submit="calculateRegister()">
    <div class="form-group" ng-class="{'has-error':
        enterStarting.startingBalance.$invalid && enterStarting.startingBalance.$dirty}">
        <label class="col-sm-2 control-label" for="startingBalance">Starting Balance</label>
        <input type="number" name="startingBalance" class="form-control"
                       value="0" ng-model="registry.startingBalance"
                       required min="-1000000" max="1000000"/>
    </div>
    <button type="submit" class="btn btn-default"
            ng-disabled="enterStarting.$invalid">Show Registry</button>
</form>

<table class="table table-hover" ng-if="showRegistry" class="animate-if">
    <thead>
        <tr>
            <th>Next Due Date</th>
            <th>Description</th>
            <th class="text-right">Debit</th>
            <th class="text-right">Credit</th>
            <th class="text-right">Balance</th>
        </tr>
    </thead>
    <tbody>
        <!-- first row can be for add or edit
            create a new scope variable to store a single bill
            send http request depending on add or edit
            either way, clear single bill scope variable when done -->
        <tr></tr>
        <tr ng-repeat="bill in budget">
            <td>{{ (bill.nextDueDate.getMonth() + 1) + "/" + (bill.nextDueDate.getDate()) }}</td>

            <td>{{ bill.description }}</td>

            <td class="text-right"><span ng-if="bill.credit != true">{{ bill.amount | currency }}</span></td>

            <td class="text-right"><span ng-if="bill.credit == true">{{ bill.amount | currency }}</span></td>

            <td class="text-right">{{ bill.balance | currency }}</td>
        </tr>
    </tbody>
</table>