<div class="container">
    <form name="addBillForm" class="form-horizontal" novalidate role="form"
          ng-submit="addBill()">
        <div class="form-group" ng-class="{'has-error': addBillForm.nextDueDate.$invalid && addBillForm.nextDueDate.$dirty}">
            <label class="col-sm-2 control-label" for="nextDueDate">Next Due Date</label>
            <div class="col-sm-10">
                <date-pick ng-model="bill.nextDueDate" date-options="" opened="next"></date-pick>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': addBillForm.description.$invalid && addBillForm.description.$dirty}">
            <label class="col-sm-2 control-label" for="description">Description</label>
            <div class="col-sm-10">
                <input type="text" name="description" class="form-control"
                       placeholder="Description" value="" ng-model="bill.description"
                       required>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': addBillForm.frequency.$invalid && addBillForm.frequency.$dirty}">
            <label class="col-sm-2 control-label" for="frequency">Frequency</label>
            <div class="col-sm-10">
                <select name="frequency" class="form-control" ng-model="bill.frequency"
                        ng-options="obj.value as obj.text for obj in frequencies" required>
                </select>
            </div>
        </div>

        <span ng-if="bill.frequency != 'once'">
            <div class="form-group" ng-class="{'has-error': addBillForm.frequency_factor.$invalid && addBillForm.frequency_factor.$dirty}">
                <label class="col-sm-2 control-label" for="frequency_factor">Repeat every</label>
                <div class="col-sm-10">
                    <input type="number" name="frequency_factor" class="form-control"
                           ng-model="bill.frequencyFactor" ng-init="bill.frequencyFactor=1">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': addBillForm.lastDueDate.$invalid && addBillForm.lastDueDate.$dirty}">
                <label class="col-sm-2 control-label" for="lastDueDate">End Date</label>
                <div class="col-sm-10">
                    <date-pick ng-model="bill.lastDueDate" date-options="" opened="last"></date-pick>
                </div>
            </div>
        </span>

        <div class="form-group" ng-class="{'has-error': addBillForm.amount.$invalid && addBillForm.amount.$dirty}">
            <label class="col-sm-2 control-label" for="amount">Amount</label>
            <div class="col-sm-10">
                <input type="number" name="amount" class="form-control"
                       ng-model="bill.amount" required>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': addBillForm.credit.$invalid && addBillForm.credit.$dirty}">
            <label class="col-sm-2 control-label" for="credit">Credit</label>
            <div class="col-sm-10">
                <input type="checkbox" name="credit" class="form-control"
                       ng-model="bill.credit">
            </div>
        </div>
        <button type="submit" name="form.submitted" class="btn btn-default"
                ng-disabled="addBillForm.$invalid">Add Bill</button>
    </form>
</div>