<div class="input-group">
    <input type="text" class="form-control" datepicker-popup=""
        ng-model="ngModel" is-open="opened" datepicker-options=""
        date-disabled="disabled(date, mode)"
        ng-required="true" close-text="Close" />
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</div>